In [1]:
import pandas as pd
import os 
import sys


## Importar una base de datos

In [2]:
path = os.getcwd()
df=pd.read_csv(os.path.join(path,'data', 'ERA5_anual.csv'))
df

,time,u10,v10,mwd,mwp,swh
0,1980-01-01 00:00:00,1.341425,-6.174399,7.699136,4.897205,0.945674
1,1980-01-01 03:00:00,0.338868,-6.901725,4.048547,4.965890,1.042656
2,1980-01-01 06:00:00,0.586406,-8.437633,0.535200,4.934312,1.189620
3,1980-01-01 09:00:00,1.992899,-8.839281,355.438234,4.985099,1.322984
4,1980-01-01 12:00:00,2.490672,-9.166941,351.864501,5.087142,1.461986
...,...,...,...,...,...,...
128315,2023-11-30 09:00:00,-5.801817,-3.243931,44.789343,5.860817,1.390217
128316,2023-11-30 12:00:00,-6.416130,-2.765595,48.662829,5.848079,1.320779
128317,2023-11-30 15:00:00,-7.275434,-1.032973,56.459111,5.646567,1.311795
128318,2023-11-30 18:00:00,-5.777151,1.013797,63.948582,5.640538,1.251517
128319,2023-11-30 21:00:00,-5.763152,2.158112,70.939486,5.657607,1.189381

### Explorar la base de datos

In [3]:
df.describe(include='all')

,time,u10,v10,mwd,mwp,swh
count,128320,128320.000000,128320.000000,128320.000000,128320.000000,128320.000000
unique,128320,NaN,NaN,NaN,NaN,NaN
top,1980-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN
mean,NaN,-4.372229,-0.023384,99.964900,5.561351,1.136970
std,NaN,2.922856,4.099296,53.022324,0.825768,0.468450
min,NaN,-27.164154,-23.783844,0.001153,2.858202,0.211650
25%,NaN,-6.225067,-2.478325,76.510214,4.979515,0.826905
50%,NaN,-4.787924,0.055805,102.334132,5.515447,1.049850
75%,NaN,-3.088368,2.689381,117.592426,6.095178,1.344481
max,NaN,23.349152,27.038864,359.995361,12.108205,10.915509

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128320 entries, 0 to 128319
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   time    128320 non-null  object
 1   u10     128320 non-null  float64
 2   v10     128320 non-null  float64
 3   mwd     128320 non-null  float64
 4   mwp     128320 non-null  float64
 5   swh     128320 non-null  float64
dtypes: float64(5), object(1)
memory usage: 5.9+ MB

In [5]:
df.head(10)

                  time       u10       v10         mwd       mwp       swh
0  1980-01-01 00:00:00  1.341425 -6.174399    7.699136  4.897205  0.945674
1  1980-01-01 03:00:00  0.338868 -6.901725    4.048547  4.965890  1.042656
2  1980-01-01 06:00:00  0.586406 -8.437633    0.535200  4.934312  1.189620
3  1980-01-01 09:00:00  1.992899 -8.839281  355.438234  4.985099  1.322984
4  1980-01-01 12:00:00  2.490672 -9.166941  351.864501  5.087142  1.461986
5  1980-01-01 15:00:00  2.321332 -8.668184  350.541506  5.218702  1.470280
6  1980-01-01 18:00:00  2.717178 -7.660761  350.310942  5.311843  1.363236
7  1980-01-01 21:00:00  3.293689 -7.600646  348.526820  5.312031  1.302305
8  1980-01-02 00:00:00  3.230051 -8.790396  345.167181  5.223949  1.471828
9  1980-01-02 03:00:00  1.364076 -7.707664  346.962283  5.416604  1.401387

In [7]:
df.columns

Index(['time', 'u10', 'v10', 'mwd', 'mwp', 'swh'], dtype='object')

In [8]:
Hs=df['swh']